# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Flask & Environment Variables
instance/
.env
.flaskenv

# Editor/IDE
.vscode/
.idea/
*.swp
.DS_Store

# Distribution / Packaging
dist/
build/
*.egg-info/
